* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Rubik", sans-serif;
}

.container {
    background-color: black;
    max-width: 100%;
    /* padding: 1rem 2rem; */
    padding: 1rem 0 1rem 2rem;
    border-bottom: 5px solid white;
}
.logo {
    font-size: 2.3rem;
    font-weight: 1000;
    color: #fff;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
li {
    list-style: none;
    margin: 1rem;
}

a {
    text-decoration: none;
    padding: 0 2rem 2rem 2rem;
    color: #fff;
}
a:hover {
    color: rgb(64, 255, 64);
}

/* navbar end */

.container1 {
    margin: 4rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    min-height: 60vh;
}

h2 {
    margin-bottom: 40px;
    font-size: 22px;
}

.left-container input {
    border: 1px solid #9e9e9e;
    padding: 12px 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 30px;
}

.left-container .login-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-container .button1 {
    background: #3d3d3d;
    color: #e9e9e9;
    border-radius: 5px;
    padding: 12px 50px;
    border-style: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.6;
    transition: 0.6s;
}

.button1:hover {
    background-color: rgb(87, 85, 85);
}

.login p {
    font-size: 18px;
    font-weight: 600;
}

.login-container .login a {
    color: #212121;
    font-size: 16px;
    transition: 1.6s;
}
.login-container .login a:hover {
    color: rgb(206, 200, 200);
}

.right-container {
    border-left: 1px solid rgb(73, 73, 73);
    padding-left: 100px;
}

.right-container h4 {
    margin-top: 20px;
}
.right-container p {
    font-size: 16px;
    margin-top: 10px;
    color: #919191;
}

@media (max-width: 800px) {
    .container {
        display: block;
        margin: 4rem 0;
    }
    .right-container {
        margin-top: 50px;
        padding-left: 10px;
        border: 0;
    }
}

/* footer */
footer {
    padding: 0 5rem 0 5rem;
    background-color: #000;
    /* margin-top: 5rem; */
    border-top: 5px solid white;
}
.ff {
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.copy {
    color: #fff;
    font-size: 1.8rem;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.follow {
    font-size: 1.8rem;
}
.tw:hover {
    color: rgb(0, 255, 234);
}
.ins:hover {
    color: rgb(131, 58, 180);
}
.fb:hover {
    color: rgb(0, 0, 255);
}
.you:hover {
    color: rgb(255, 0, 0);
}
